<br>
<h1>Competition Event</h1>
<br>
<table class="table">
    <thead>
      <tr>

      </tr>
    </thead>
    <tbody>
      <% events.forEach(function(event){ %>
        <tr>
          <td><h3><%=event.eventName%> </h3></td>
          <td><h3><a href="/competition/chiefjudge/<%=event.id%>">Re-score</a></h3></td>
          
        </tr>

      <% }); %>
    </tbody>
  </table>






