<h1>Upload Competition Excel File:</h1>
<br><br>


<form action="/competition/import_xlsx" method="post" enctype="multipart/form-data">
	<input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" name="file" />
	<input type="submit" />
</form>