<h1>Please wait for competition to start...</h1>
<script>
    window.onload = function () {
        io.socket.get('/api/chat-conversation-count', function (data, jwr) {

            if (jwr.error) {
                console.error('Could not subscribe:' + jwr.error);
                return;
            }
            console.log('Successfully subscribed.');

            io.socket.on('start', function test(resp) {
                window.location.assign()
            });
        });
    };
</script>