<form action="/user/createE3" method="POST"></form>
<h1>[E3 Judge]</h1>
<div class="card" style="width: 75rem;">
    <h3> Competition event name : </h3>
    <ul class="list-group">


        <li class="list-group-item">Ahtlete Name: </li>
        <li class="list-group-item">Ahtlete ID: </li>
        <li class="list-group-item">Ahtlete grade: </li>
        <br><br>


    </ul>
    <h3> Execution score : </h3>
    <div>
        <input type="number" class="form-control" name="User[score]" required>
    </div>
    <div>
        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
    </div>
</div>