<div class="container">
    <div class="row">
      <!-- The 12 cards -->
      <div class="col-12">
        <table class="table">
  
          <tbody>
            <% athlete.forEach (function(model) { %>
            <tr>
              <th scope="row"><%= model.athleteID %></th>
              <td><%= model.athleteName %></td>
              <td>D1 Score: 7</td>
              <td>D2 Score: 7</td>

              <td>E1 Score: 8</td>
              <td>E2 Score: 10</td>
              <td>E3 Score: 7</td>
              <td>E4 Score: 8</td>
              <td>E5 Score: 7</td>


              <td>Total: <%= model.totalScore %></td>

              <td><a href="/athlete/transcript/">Edit</a></td>

              <td><a href="/athlete/details/<%=model.id%>/"> Publish Score </a></td>
  
       

            </tr>
            <%}); %>
  
          </tbody>
        </table>
  
      </div>
  
  
  
  
    </div>
  </div>
  
  
  
  
  
  
  
  